<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.eodeatzy.mainMapper">

	<!-- 개인이용자 주소보기 -->
	<select id="u_Addr_One" parameterType="String" resultType="u_Addr_OneDTO">
		select *
		from tb_user_p_address
		where (u_p_id=#{u_p_id}) and (u_p_flag=2)
	</select>

	<!-- 사업자 주소보기 -->

	<!-- 공지사항 하나 보기 -->
	<select id="notice_One" parameterType="String" resultType="notice_OneDTO">
		select *
		from tb_board
		where B_TYPE=1 and B_STATE=10
		order by b_id desc
		limit 1
	</select>

	<!-- 카테고리 조회 -->
	<select id="category" resultType="categoryDTO">
		select c_id, c_name, c_use
		from tb_category
		where c_use=2
	</select>

	<!-- 홈에서 가게정보 -->
	<select id="store_type" resultType="store_typeDTO">
		select u_s_id, s_name, s_number, s_state
		from tb_store
	</select>
	
	<!-- 카테고리 누르면 해당하는 c_id의 가게정보 보여주기 -->
	<select id="category_One" resultType="category_OneDTO">
		select *
		from tb_store
		where c_id=#{c_id}
	</select>

	<!-- 카테고리 조회시 해당하는 c_name가져오기 join -->
	<resultMap type="category_OneDTO" id="category_OneDTO"> <!-- tb_store -->
		<result column="u_s_id" property="u_s_id"/> 
		<result column="u_b_id" property="u_b_id"/>
		<result column="s_regi_num" property="s_regi_num"/>
		<result column="s_name" property="s_name"/>
		<result column="s_number" property="s_number"/>
		<result column="c_id" property="c_id"/>
		<result column="s_state" property="s_state"/>
		<result column="s_time" property="s_time"/>
		<result column="u_b_img_upload" property="u_b_img_upload"/> 
		<result column="s_desc" property="s_desc"/>
	</resultMap>
	 
		
	<resultMap type="categoryDTO" id="categoryDTO">  <!-- tb_category -->
		<result column="c_id" property="c_id"/>
		<result column="c_name" property="c_name"/>
		<result column="c_use" property="c_use"/>
		<result column="categoryDTO" property="categoryDTO"/>
	</resultMap>
	
	<select id="category_Name" parameterType="java.lang.Integer" resultType="String">
		select distinct tb_category.c_name
		from tb_category
		inner join tb_store
		on tb_category.c_id = tb_store.c_id
		where tb_store.c_id=#{c_id}
	</select>
	
</mapper>
